In [7]:
# 1. Import Python libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import glob as glob

In [8]:
# 2. Import the dataset

acl_train = pd.read_csv("dataset/train-acl.csv")
acl_valid = pd.read_csv("dataset/valid-acl.csv")
acl_data = pd.concat([acl_train, acl_valid], ignore_index = True)

meniscus_train = pd.read_csv("dataset/train-meniscus.csv")
meniscus_valid = pd.read_csv("dataset/valid-meniscus.csv")
meniscus_data = pd.concat([meniscus_train, meniscus_valid], ignore_index = True)

abnormal_train = pd.read_csv("dataset/train-abnormal.csv")
abnormal_valid = pd.read_csv("dataset/valid-abnormal.csv")
abnormal_data = pd.concat([abnormal_train, abnormal_valid], ignore_index = True)

In [9]:
acl_data

      case_study   result
0              0        0
1              1        1
2              2        0
3              3        0
4              4        0
...          ...      ...
1245        1245        1
1246        1246        1
1247        1247        0
1248        1248        1
1249        1249        0

[1250 rows x 2 columns]

In [10]:
meniscus_data

      case_study   result
0              0        0
1              1        1
2              2        0
3              3        1
4              4        0
...          ...      ...
1245        1245        1
1246        1246        1
1247        1247        1
1248        1248        1
1249        1249        1

[1250 rows x 2 columns]

In [11]:
abnormal_data

      case_study   result
0              0        1
1              1        1
2              2        1
3              3        1
4              4        1
...          ...      ...
1245        1245        1
1246        1246        1
1247        1247        1
1248        1248        1
1249        1249        1

[1250 rows x 2 columns]

In [17]:
train_dir = 'dataset/train'
valid_dir = 'dataset/valid'

planes = ['axial', 'coronal', 'sagittal']
datasets = {'train': train_dir, 'valid': valid_dir}

for dataset, path in datasets.items():
    print(f'\nNumber of exams in {dataset} set:')
    for plane in planes:
        print(plane, len(glob.glob(f'{path}/{plane}/*.npy')))

Number of exams in train set:
axial 1130
coronal 1130
sagittal 1130

Number of exams in valid set:
axial 120
coronal 120
sagittal 120