In [1]:
# 1. Import Python libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# 2. Import the dataset

acl_train = pd.read_csv("dataset/train-acl.csv")
acl_valid = pd.read_csv("dataset/valid-acl.csv")
acl_data = pd.concat([acl_train, acl_valid])

meniscus_train = pd.read_csv("dataset/train-meniscus.csv")
meniscus_valid = pd.read_csv("dataset/valid-meniscus.csv")
meniscus_data = pd.concat([meniscus_train, meniscus_valid], ignore_index=True)

abnormal_train = pd.read_csv("dataset/train-abnormal.csv")
abnormal_valid = pd.read_csv("dataset/valid-abnormal.csv")
abnormal_data = pd.concat([abnormal_train, abnormal_valid], ignore_index=True)

In [3]:
acl_data

     case_study   result
0             0        0
1             1        1
2             2        0
3             3        0
4             4        0
..          ...      ...
115        1245        1
116        1246        1
117        1247        0
118        1248        1
119        1249        0

[1250 rows x 2 columns]